HelpDeskTool/PSTools/*
HelpDeskTool/bin/*
HelpDeskTool/obj/*
.vs/*
HelpDeskTool/.vs/*
/HelpDeskTool/Properties/PublishProfiles/ClickOnceProfile.pubxml.user
/HelpDeskTool/Properties/PublishProfiles/ClickOnceProfile.pubxml
/HelpDeskTool/Properties/PublishProfiles
