SDMultiTool/PSTools/*
SDMultiTool/bin/*
SDMultiTool/obj/*
.vs/*
SDMultiTool/.vs/*
/SDMultiTool/Properties/PublishProfiles/ClickOnceProfile.pubxml.user
/SDMultiTool/Properties/PublishProfiles/ClickOnceProfile.pubxml
/SDMultiTool/Properties/PublishProfiles
